*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

$nav: #15616d;
$jumbotron: #ffecd1;

// CSS inicia
.navbar{
    background-color: $nav;
    img{
        height: 45px;
        margin: 10px;
    }
}
.navbar-nav{
    font-size: 20px;
}
.navbar-brand{
    font-size: 30px;
}
.jumbotron{
    background-color: $jumbotron !important;
    text-align: center;
    border: 1px solid #000;
    width: 100%;
    height: auto;
    border: 2px solid #000;
    padding: 20px;
        img{
            height: 130px;
        }
        h1{
            margin: 10px;
        }
}
.btn-primary{
    background-color: coral;
    border: #000;
    color: #000;
    margin: 5px;
    font-size: 18px;
}
.btn-primary:hover{
    background-color: $nav;
    color: white;
}
.button-info{
    background-color: white;
    font-size: 18px;
    border: none;
    padding: 15px;
    text-align: left;
}
.button-info:hover{
    background-color: rgba(255, 127, 80, 0.293);
    font-size: 18px;
    border: #000;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
}
.jumbotronLeft{
    background-color: $jumbotron !important;
    border: 1px solid #000;
}
.jumbotronLeft p{
    margin-top: 20px;
}
.nright{
    img{
        height: 300px;
        width: 210px;
        margin: auto;
        box-shadow: 0px 1px 10px rgb(129, 129, 129) ;
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 5%;
        border: 1px solid #00000055;
    }
    img:hover{
            transform: scale(1.1);
            transition: 0.5s ease;
    }
    h3{
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 25px;
        font-weight: bold;
    }
    label{
        margin: 10px;
        display: block;
    }
}
.nleft{
    h2{
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 25px;
        font-weight: bold;
    }
    p{
        width: 80%;
    }
}
.flex{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
        i{
            font-size: 25px;
            color: coral;
        }
}
.forms{
    padding: 20px
}
#inputGroupSelect02{
    color: #212529a9;
}
// CSS fin
html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    background-color: $nav;
    width: 100%;
    height: 80px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.font{
    font-size: 40px;
    text-align: center;
    padding: 10px;
    letter-spacing: 2px;
    color: $nav;
    text-shadow: 1px 1px 5px #8f5b2496;
}
.fontAlign{
    font-size: 35px;
    text-align: left;
}
.leftFont{
    font-size: 25px;
    text-align: left;
    padding: 10px;
}
.centerFont{
    font-size: 25px;
    text-align: center;
    margin: 30px;
}
.subtitulo{
    font-size: 20px;
    text-align: center;
}

.text{
    height: 100px;
    width: 30%;
    display: inline-block;
    margin: 20px;
}
.progress{
    margin: 20px;
}
.border{
    margin-top: 20px;
}
.logo{
    font-size: 30px;
    color: white;
}
.guardado{
    width: 100%;
    height: auto;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 400px);
    grid-gap: 50px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.it{
    border: 1px solid black;
    box-shadow: 0 0 5px black;
    background-size: cover;
    background-position: center;
}
.it:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
}
.saved1{
    background-image: url(../multimedia/El\ hechicero\ de\ Oz.jpeg);
}
.saved2{
    background-image: url(../multimedia/Mary\ Poppins.jpeg);
}
.saved3{
    background-image: url(../multimedia/Misión\ Imposible.jpeg);
}
.saved4{
    background-image: url(../multimedia/Pinocho.jpeg);
}
.saved5{
    background-image: url(../multimedia/Rapunzel.jpeg);
}
.saved6{
    background-image: url(../multimedia/Draw\ down\ the\ moon.jpeg);
}
.saved7{
    background-image: url(../multimedia/The\ cruel\ prince.jpeg);
}
.saved8{
    background-image: url(../multimedia/Baby\ driver.jpeg);
}

.centrado{
    width: 100%;
    height: auto;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 350px);
    grid-gap: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
.galeria{
    width: 100%;
    height: auto;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 120px);
    padding: 20px;
    grid-gap: 30px;
}
.items{
    border: 1px solid black;
    box-shadow: 0 0 5px black;
    background-size: cover;
    background-position: center;
}
.items:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
}
.item:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
}
.item1{
    background-image: url(../multimedia/generos/Drama.jpg);
}
.item2{
    background-image: url(../multimedia/generos/Ficción.jpg);
}
.item3{
    background-image: url(../multimedia/generos/Fantasía.jpg);
}
.item4{
    background-image: url(../multimedia/generos/Misterio.jpg);
}
.item5{
    background-image: url(../multimedia/generos/Romance.jpg);
}
.item6{
    background-image: url(../multimedia/generos/Suspenso.jpg);
}
.item7{
    background-image: url(../multimedia/generos/Terror.jpg);
}
.item8{
    background-image: url(../multimedia/generos/Aventura.jpg);
}
.item9{
    background-image: url(../multimedia/generos/Históricos.jpg);
}
.item10{
    background-image: url(../multimedia/generos/Policial.jpg);
}
.item11{
    background-image: url(../multimedia/generos/Poesía.jpg);
}
.item12{
    background-image: url(../multimedia/generos/Teatro.jpg);
}
.item13{
    background-image: url(../multimedia/generos/Humor.jpg);
}
.item14{
    background-image: url(../multimedia/generos/Bio.jpg);
}
.item15{
    background-image: url(../multimedia/generos/Ensayo.jpg);
}
.item16{
    background-image: url(../multimedia/generos/Crónica.jpg);
}
.item17{
    background-image: url(../multimedia/generos/Juveniles.jpg);
}
.item18{
    background-image: url(../multimedia/generos/Infantiles.jpg);
}
.item{
    border: 1px solid black;
    box-shadow: 0 0 5px black;
    background-size: cover;
    background-position: center;
}
.it1{
    background-image: url(../multimedia/Heir\ of\ Fire.jpg);
}
.it2{
    background-image: url(../multimedia/Crescent\ City.jpg);
}
.it3{
    background-image: url(../multimedia/Harry\ Potter.jpg);
}
.it4{
    background-image: url(../multimedia/El\ libro\ de\ la\ selva.jpg);
}
.it5{
    background-image: url(../multimedia/Red\ Queen.jpg);
}
.it6{
    background-image: url(../multimedia/Iron\ Flame.jpg);
}
.it7{
    background-image: url(../multimedia/Rage.jpg);
}
.it8{
    background-image: url(../multimedia/The\ lost\ bookshop.jpg);
}
.it9{
    background-image: url(../multimedia/likely\ suspects.jpg);
}
.it10{
    background-image: url(../multimedia/Shore\ lodge.jpg);
}
.it11{
    background-image: url(../multimedia/The\ founders.jpg);
}
.it12{
    background-image: url(../multimedia/tuscan\ blook.jpg);
}
.contenedor{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 450px);
    grid-gap: 10px;
    margin-bottom: 40px;
    background-color: white;
    justify-items: center;
}
.card{
    width: 100%;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0px 1px 10px rgb(129, 129, 129) ;
    cursor: default;
    transition: all 400ms ease;
    width: 250px;
        img{
            width: auto;
            height: 120px;
            margin-top: 20px;
            margin: 25%;
        }
        .contenido{
            padding: 15px;
            text-align: center;
        }
        h5{
            font-size: 20px;
            margin-bottom: 20px;
        }
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 30px;
    align-content: flex-end;
    margin-top: auto;
    margin-top: 30px;
        a{
            color: #ffecd1;
            text-decoration: none;
            font-size: 40px;
            letter-spacing: 10px;
        }
        h3{
            margin-bottom: 15px;
        }

}
.scroll{
    height: 40px;
    height: 40px;
    background-color: #f4ab45;
    color: white;
    position: fixed;
    right: 40px;
    bottom: 40px;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
    padding: 12px;
    border-radius: 50%;
    box-shadow: 0 0 5px 5px rgba(21, 97, 109, 0.549);
}

// Inician las media queries

@media only screen and (max-width: 1024px){
    .centrado{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 400px);
    }
    .contenedor{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 450px);
        grid-gap: 20px;
        justify-content: space-evenly;
    }
}

@media only screen and (max-width: 900px){
    .centrado{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 400px);
        padding-left: 70px;
        padding-right: 70px;
    }
    .contenedor{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 450px);
        grid-gap: 20px;
        justify-content: space-evenly;
    }
    .guardado{
        width: 100%;
        height: auto;
        background-color: white;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 400px);
        grid-gap: 50px;
        padding-left: 60px;
        padding-right: 60px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 768px){
    .centrado{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 500px);
        padding-left: 150px;
        padding-right: 150px;
    }
    .contenedor{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 450px);
        grid-gap: 20px;
        justify-content: space-evenly;
    }
    .galeria{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 120px);
}
}

@media only screen and (max-width: 600px){
    .centrado{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 500px);
        padding-left: 70px;
        padding-right: 70px;
    }
    .contenedor{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 450px);
        grid-gap: 20px;
        justify-content: space-evenly;
    }
    .galeria{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(9, 120px);
    }
    .guardado{
        width: 100%;
        height: auto;
        background-color: white;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 400px);
        grid-gap: 50px;
        padding-left: 100px;
        padding-right: 100px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 400px){
    .centrado{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 500px);
        padding-left: 20px;
        padding-right: 20px;
    }
    .contenedor{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 450px);
        grid-gap: 20px;
        justify-content: space-evenly;
    }
    .galeria{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(18, 120px);
    }
    footer{
        text-align: center;
        background-color: black;
        color: white;
        padding: 20px;
    }
    footer ul li{
        display: inline-block;
        justify-content: center;
        list-style: none;
        margin: 1px;
        margin-bottom: 30px;
        font-size: 14px;
    }
    .logoFooter{
        font-size: 20px;
        margin-bottom: 15px;
    }
    .redes a{
        color: $jumbotron;
        text-decoration: none;
        font-size: 30px;
        letter-spacing: 10px;
    }
    .guardado{
        width: 100%;
        height: auto;
        background-color: white;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 400px);
        grid-gap: 50px;
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
// Fin media queries